<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="library" type="Z3950.Config,Z3950">
      <section name="server" type="Z3950.Config,Z3950" allowLocation="true" /> 
    </sectionGroup>
  </configSections>
  <library>
    <server>
      <add name="server1" username="123" password="456" uri="123" databasename="test" port="123"/>
      <add name="server2" username="456" password="456" uri="123" databasename="test" port="123"/>
    </server>
  </library>
</configuration>